.card {
    margin: 2px;
    border: 2px solid #000;
    border-radius: 15px;
}
.card-titulo {
    background-color: #000;
    color:#FFF;
    text-align: center;
}
.card-conteudo {
    background-color: #FFF;
    color:#000;
    margin: 10px;
    padding: 5px
}